



#ons{
    background-image: url(../img/back2.png);
    background-position: center;
    background-size: cover;
    background-color: var(--blanco);
    border: 15px solid var(--azul);
    min-height: calc(100vh - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 800;
}

    .love_our_lives_square {
        background: var(--blanco);
        box-shadow: 1px 1px 20px -4px #e0e0e1;
        width: 370px;
        height: 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        font-size: 30px;
    }

    .love_our_lives_square p {
        margin: 5px 0;
    }

#brands{
    background-color: var(--azul);
    display: flex;
    justify-content: center;
    align-items: center;
}
    .container{
        max-width: 1048px;
        width: 80%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: 50px auto;
    }
    .title_left {
        display: flex;
        flex-direction: column;
        flex: 1;
        line-height: 65px;
        justify-content: center;
        align-items: start;
        font-size: 40px;
    }
    .title_left p{
        margin: 0;
    }
    #brands .title_left > p:last-child{
        font-size: 18px;
        font-weight: 300;
    }
    .grid_brands {
        display: grid;
        grid-template-columns: repeat(auto-fit, 270px);
        grid-gap: 90px 40px;
        width: 100%;
        flex: 2;
        justify-content: center;
        align-items: center;
    }
    .brands_logos {
        height: 85px;
        border: 3px solid var(--negro);
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--blanco);
    }
#characters{
    background-color: var(--azul-marino);
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 30% 40% 30%;
    grid-template-areas: "barry ajolote . chamoy tragoncito"
                         "per1 texto texto texto tita"
                         "fredy clarita per2 frida mex";
}
    .barry{
        grid-area: barry;
        justify-self: center;
        align-self: end;
    }
    .ajolote{
        grid-area: ajolote;
        justify-self: end;
        align-self: center;
    }
    .chamoy{
        grid-area: chamoy;
        justify-self: start;
        align-self: center;
    }
    .tragoncito{
        grid-area: tragoncito;
        justify-self: start;
        align-self: end;
    }
    .per1{
        grid-area: per1;
        justify-self: end;
        align-self: center;
    }
    .texto{
        grid-area: texto;
        justify-self: center;
        justify-content: center;
        align-self: center;
        grid-area: texto;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 35px;
    }
    .texto > p {
        margin: 0;
        line-height: 60px;
    }
    .tita{
        grid-area: tita;
        justify-self: center;
        align-self: center;
    }
    .fredy{
        grid-area: fredy;
        justify-self: center;
        align-self: start;
    }
    .clarita{
        grid-area: clarita;
        justify-self: center;
        align-self: center;
    }
    .per2{
        grid-area: per2;
        justify-self: center;
        align-self: center;
    }
    .frida{
        grid-area: frida;
        justify-self: center;
        align-self: start;
    }
    .mex{
        grid-area: mex;
        justify-self: center;
        align-self: center;
    }

#stories{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
}
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-gap: 40px 40px;
        width: 100%;
    }

    .title_grid{
        font-size: 25px;
        line-height: 0px;
    }

    #stories .squares {
        height: auto;
        border: none;
        -webkit-box-shadow: 10px 10px 1px -5px var(--blanco),10px 10px var(--negro);
        -moz-box-shadow: 10px 10px 1px -5px var(--blanco),10px 10px var(--negro);
        box-shadow: 10px 10px 1px -5px var(--blanco),10px 10px var(--negro);
    }

.white_stroke{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--blanco);
}

.black_stroke{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--negro);
}

